<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Payment</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <%= render product %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New product", new_product_path %>
